.footer {
    background-color:#295485;
    color: #ffffff;
    font-size: 11pt;
    font-weight: 300;
    width: 100%; 
    text-align: center; 
    position:relative;
    bottom: 0; 
    padding: 7px 0;
    margin-top: 20px;
  }