
.loading-animation {
  display: flex;
  justify-content: center;
  
}

  @media (prefers-reduced-motion: no-preference) {
    .loading-animation {
      animation: App-logo-spin infinite 5s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 768px) {
    .loading-animation {
      transform: scale(0.25); 
    }
  }